.headerDelete{
  margin-left: 5px;
  visibility: hidden;
}

.idea-header{
  padding: 5px;
  display: flex;
  align-items: center;
}

.idea-header:hover {
  background-color: rgba(230,230,230,0.7);
  border-radius: 5px;
}

.idea-header:hover .headerDelete {
  visibility: visible;
}

.headerDelete:hover {
  cursor:pointer;
}

.header-more-vert{
  cursor:pointer;
}

.row-update {
  height: 20px;
  width: 20px;
}

i.delete.icon {
  padding: 5px;
  color: black !important;
  visibility: visible;
}

a.ui.label {
  color: black !important;
}

.header-container {
  display: flex;
  align-items: center;
}
